# log
output_path: "./Experiments/log_base"

# data
in_channels: 3
num_classes: 1 # must count the background class
threshold: 15
ours: True
ours_start: 0

# our loss
stepsz: 0.1
alpha: 0.0001
beta: 0.01
fltrstdev: 0.5
extparam: 1
nsteps: 20
ndims: 2
cropsz: [32,32]
dmax: 15
maxedgelength: 5
extgradfac: 2.0
    
# network
three_dimensional: False
m_channels: 32
n_convs: 2
n_levels: 4
dropout: 0.1
batch_norm: True
upsampling: "deconv"
pooling: "max"

# optimizer
lr: 0.001
weight_decay: 0.0001
lr_decay: True
lr_decay_factor: 0.0001

# training
batch_size: 12
crop_size: [384, 384]

# testing
crop_size_test: [512, 512]
margin_size: [32, 32]

# trainer
num_iters: 3000
print_every: 25
valid_every: 200
save_every: 200

